:root{
    --fundo-princiapl: #FFFFFF;
    --fundo-rodape: #F9FAFB;
    --vermelho-escuro: #8E2424;
    --titulo-logo: #3A404E;
    --titulo-secundario: #101828;
    --texto-links: #667085;
    --cinza-claro: #98A2B3;
}

body{
    background-color: var(--fundo-princiapl);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}


/* Cabeçalho*/

.container{
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-titulo{
    display: flex;
    align-items: center;
}

.titulo__logo-nav{
    font-size: 18px;
    font-weight: 500;
    color: var(--titulo-logo);
    margin-left: .5em;
}


.item__lista-nav--link{
    font-weight: 500;
    color: var(--texto-links);
    margin-right: 2em;
}

.item__lista-nav--link:hover{
    color: var(--vermelho-escuro);
}

.opcoes__link-entrar{
    padding: 0 1em;
    font-weight: 500;
    text-decoration: none;
}

.opcoes__link-entrar:hover{
    color: var(--vermelho-escuro);
}

.opcoes__link-cadastrar{
    padding: .5em 1em;
    font-weight: 500;
    background-color: var(--vermelho-escuro);
    color: var(--fundo-princiapl);
    border-radius: 6px;
    text-decoration: none;
}

.opcoes__link-cadastrar:hover{
    font-size: 17px;
    transition: .5s;
}

/***********************************************************************************/

/* Corpo do site*/

.container-banner{
    margin: 8em 4em;
    text-align: center;
}

.titulo-pequeno__banner{
    font-weight: 600;
    color: var(--vermelho-escuro);
}

.tituto-grande__banner{
    font-size: 48px;
    font-weight: 600;
    margin: 1em 0;
    color: var(--titulo-secundario);
}

.paragrafo__banner{
    font-size: 20px;
    padding: 0 10vw;
    color: var(--texto-links);
}

.container-metricas{
    display: flex;
    justify-content: space-around;
    margin: 0 4em 10em 4em;
}

.numero-metrica{
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho-escuro);
}

.subtitulo-metricas{
    font-size: 18px;
    font-weight: 500;
    color: var(--titulo-secundario);
    margin: 1em 0;
}

.paragrafo-metricas{
    color: var(--texto-links);
}

.container-vagas{
    margin: 4em;
}

.anuncio__vagas{
    text-align: center;
}

.titulo-pequeno__vagas{
    font-size: 14px;
    font-weight: 500;
    color: var(--vermelho-escuro);
    background: rgba(142, 36, 36, 0.05);
    border-radius: 24px;
    padding: .5em;
}

.tituto-grande__vagas{
    font-size: 36px;
    font-weight: 600;
    margin: 1em 0;
    color: var(--titulo-secundario);
}

.paragrafo__vagas{
    font-size: 20px;
    color: var(--texto-links);
    margin-bottom: 3em;
}

.imagem-vagas{
    width: 100%;
}

.area__vagas{
    font-size: 20px;
    font-weight: 500;
    color: var(--titulo-secundario);
    margin: 3em 0 2em 0;
}

.vagas-abertas{
    margin-left: 50vh;

}

.vagas__abertas--descricao{
    border: 1px solid #EAECF0;
    border-radius: 12px;
    margin: 1em 20vw 1em 0;
    padding: 1em;
}

.titulo__vagas{
    font-size: 18px;
    font-weight: 500;
    color: var(--titulo-secundario);
    margin-bottom: 2em;
  
}

.salario{
    display: flex;
    margin: 1em 0;
    
}

.periodo__vagas{
    font-weight: 500;
    color: var(--texto-links);
    margin-right: 2em;
}

.salario__vagas{
    font-weight: 500;
    color: var(--texto-links);
}

.opiniao__desenvolvedor{
    text-align: center;
    background: rgba(196, 25, 25, 0.03);
    padding: 3em 0;
    border-radius: 16px;
    margin: 0 4em 5em 4em;
}

.titulo__opiniao-desenvolvedor{
    color: var(--vermelho-escuro);
    font-size: 14px;
    font-weight: 600;
}

.texto__opiniao-desenvolvedor{
    font-size: 36px;
    font-weight: 500;
    color: var(--titulo-secundario);
    margin: 1em 0;

}

.nome__desenvolvedor{
    font-weight: 500;
    margin: 1em 0;
    color: var(--titulo-secundario);
}

.funcao__desenvolvedor{
    font-size: 14px;
    color: var(--texto-links);
}

.rodape{
    background-color: var(--fundo-rodape);
    text-align: center;
    padding: 3em 0;
    margin: 0;
}

.titulo__rodape{
    font-size: 36px;
    font-weight: 600;
    color: var(--titulo-secundario);
}

.subtitulo__rodape{
    margin: 2em 0;
    font-size: 20px;
    color: var(--texto-links);
}

.email__rodape{
    border: solid 1px var(--cinza-claro);
    border-radius: 4px;
    margin-right: 2em;
    padding: .4em;
    width: 20%;
}

.email__rodape::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;

}

.botao__rodape{
    font-weight: 500;
    background-color: var(--vermelho-escuro);
    border-radius: 4px;
    padding: .4em;
    color: var(--fundo-princiapl);
}

.botao__rodape:hover{
    font-size: 18px;
    transition: .5s;
}

.rodape__texto{
    margin: 2em 0 3em 0;
    color: var(--cinza-claro);
}
